/*reset style start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
line-height: 1;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

/*reset style end*/
/*---------------------------------------------------*/

/*FULL PAGE*/

body {
    font-family: sans-serif;
    color: white;
    background: url(../images/background-image.jpg) no-repeat center center;
    height: 100vh;
    background-size: cover;
}

/*.container {*/
    /*margin: 0 auto;*/
    /*height: inherit;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
/*}*/

.link-decoration {
    text-decoration: none;
    font-family: Verdana, sans-serif;

}

.link-white {
    color: white;
    font-stretch: ultra-condensed;
 }

.link-white:link {
    color: white;
}

/*.link-white:visited {*/
    /*color: #3bb777;*/
/*}*/

.link-signup-color {
    color: #3cb878;
}

.link-logo:hover {
    color: #3bb777;
}
/*----------------------------------*/

/*HEADER*/
/*header main styles*/
.header {
    display: flex;
    /*justify-content: flex-end;*/
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
}

.header-point {
    /*align-items: stretch;*/
    /*flex-grow: 1;*/
    align-items: center;
    margin-top: 13px;
    margin-bottom: 19px;
}


.logo {
    flex-grow: 5;
    /*margin: 18px 700px 18px 81px;*/
    margin-left: 81px;
    /*margin-right: 700px;*/
    font: 700 24px verdana, sans-serif;
    color: white;

}


/*menu*/

.top-menu {
    display: flex;
}

.top-menu:visited {
    color: green;
    background-color: #3bb777;
}

.top-menu-point {
    padding-left: 14px;
    padding-right: 14px;
}

.calendar {
    width: 19px;
    height: 19px;
    background: url('../images/ic_calendar.png') no-repeat center center;
    background-size: auto;

}

.calendar:hover {
    background: url('../images/ic_caledar_hv.png') no-repeat center center;
}

.forum {
    width: 28px;
    height: 20px;
    background: url('../images/ic_forum.png') no-repeat center center;
    background-size: auto;
}

.forum:hover {
    background: url('../images/ic_forum_hv.png') no-repeat center center;
}

.journey {
    width: 22px;
    height: 22px;
    background: url('../images/ic_journey.png') no-repeat center center;
    background-size: auto;
    /*padding: 10px;*/
}

.journey:hover {
    background: url('../images/ic_journey_hv.png') no-repeat center center;
}

/*line*/
.line {
    margin: 18px 22px 16px 15px;
    /*border-left: 1px;*/
    /*border-color: white;*/
    /*border-style: solid;*/
    border: #dfdddd 1px solid;
    opacity: 0.4;
    width: 1px;
    height: 19px;
}

/*Sign Up/Log in*/
.welcome {
    /*padding: 17px 75px 17px 14px;*/
    margin-top: 17px;
    margin-right: 72px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;

    color: rgb(255,255,255);
    font-family: Verdana, sans-serif;
}

/*-----------------------------------*/


/*MAIN*/

/*main styles*/
.main {
    /*margin-top: -10%;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*align-content: center;*/

    /*margin: 0 auto;*/


}

/*Sign Up window*/
.sign-up {
    /*height: calc(100vh - 10vh);*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 32.5%;*/
    /*margin: 56px auto 73px;*/
    /*height: 584px;*/
    /*margin: 55px 461px 74px;*/
    margin-top: 56px;
    /*position: inherit;*/
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: 0 4px 18px;
    rgba(0,0,0,0.52);

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*Sign Up top line*/
.signup-title{
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 29px;
    justify-content: flex-start;
}

.green-square{
    margin-right: 34px;
    margin-left: 0;
    width: 18px;
    height: 18px;
    background-color: #3bb777;
}

.sign{
    margin-left: 14px;
    margin-right: 103px;
    font-size: 20px;
    line-height: 21px;
    color: rgb(67,67,67);
    font-family: Verdana, sans-serif;
    text-align: center;
}

.log{
    margin-left: 122px;
    /*margin-left: 48%;*/
    margin-right: 62px;
    font-size: 14px;
    line-height: 21px;
    color: rgb(60,184,120);
    font-family: Verdana, sans-serif;
}

/*Social buttons*/
.social-buttons{
    display: flex;
    justify-content: center;
}

.button-facebook{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 157px;
    height: 46px;
    margin-right: 12px;
    border-radius: 3px;
    border: 0;
    background-color: #2f5db7;
    font-size: 16px;
    line-height: 21px;
    color: rgb(255,255,255);
    font-family: Verdana, sans-serif;
}

.facebook-icon {
    /*margin-left: -2px;*/
}

.button-google {
    display: flex;
    align-items: center;
    align-content: center;
    /*justify-content: space-evenly;*/
    width: 157px;
    height: 46px;
    margin-left: 12px;
    border-radius: 3px;
    border: 0;
    background-color: #df4931;
    font-size: 16px;
    line-height: 21px;
    color: rgb(255,255,255);
    font-family: Verdana, sans-serif;
}

.google-icon {
    margin-left: 10px;
    margin-right: 7px;
}

.google-text {
    margin-left: 12px;
}

.buttons-line {
    width: 1px;
    height: 28px;
    /*background-color: #000000;*/
    border: 1px solid white;
    border-left: 1px;
    opacity: 0.4;
    /*width: 1px;*/
    /*height: 19px;*/
}

.line-google {
    margin-right: 11px;
}

/*or*/
.or {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.or-lines {
    width: 135px;
    height: 1px;
    /*margin: 10px 0;*/
    background-color: #f5d9c9;
    border: 1px solid #e9e9e9;
}

.or-text {
    margin: 0 25px;
    /*text-align: center;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #848484;
    font-family: Verdana, sans-serif;
}

/*Text/Password fields*/
.text-field {
    margin: 4px 67px;
    width: 322px;
    border-radius: 3px;
    /*border-width: 1px;*/
    /*border-color:  #dfdddd;*/
    /*border-style: solid;*/
    border: 1px #dfdddd solid;
    outline: none;
    padding-top: 19px;
    padding-bottom: 17px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 21px;
    color: #434343;
    font-family: Verdana, sans-serif;
    /*height: calc(100vh - 10vh);*/
    /*align-items: center;*/
}

.text-field:focus {
    box-shadow: 0 3px 8px rgba(0,0,0,0.21);
    /*background-color: #ffffff;*/
}

::-webkit-input-placeholder { color: #b8d8ea; }
::-moz-placeholder {  color: #b8d8ea; }
:-ms-input-placeholder {  color: #b8d8ea; }
::placeholder {  color: #b8d8ea; }


/*Checkbox and Terms*/
.terms-block {
    display: flex;
    /*margin-left: 0;*/
    /*margin-right: 114px;*/
    width: 341px;
    /*margin: 4px 50px;*/
    border: 0 #dfdddd solid;

    margin: 23px 56px 34px 50px;
    /*!*flex-direction: row;*!*/
    justify-content: flex-start;
    align-items: center;
}

.check-box{
    width: 25px;
    border-radius: 3px;
    transform: scale(1.5);
    margin-left: 0;
    background-color: white;
    border: 1px solid #eaeaea;
}

.agree-text {
    /*margin: 22px 100px 13px 0;*/
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: rgb(67,67,67);
    font-family: Verdana, sans-serif;
}

.agree-link {
    font-size: 15px;
    line-height: 21px;
    font-family: Verdana, sans-serif;

}

/*Submit button*/

.create-account {
    margin: 13px 0 32px 0;
    width: 341px;
    /*align-self: stretch;*/
    border-radius: 5px;
    border: 0;
    background-color: #3bb778;
    padding: 17px 100px;
    font-size: 16px;
    line-height: 21px;
    color: rgb(255,255,255);
    font-family: Verdana, sans-serif;
}

@media screen and (width: 1366px){
    .sign-up {
        margin: 15px;
    }

    .text-field {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .terms-block {
        margin-top: 12px;
        margin-bottom: 17px;
    }

}